.approved {
  background-color: #00ff19bf !important;
  border-color: #00ff19bf !important;
}

.open {
  background-color: #001affbf !important;
  border-color: #001affbf !important;
}

.review {
  background-color: #fff500bf !important;
  border-color: #fff500bf !important;
}

.cancelled {
  background-color: #ff0000bf !important;
  border-color: #ff0000bf !important;
}
